
.search_header{
    margin:0px;
    width: 414px;
    height: 96px;
    background: #FFFFFF;
    border-radius: 0px 0px 38px 38px;
    display:flex;
}
.search-console{
    background: #EAEEF1;
    border-radius: 19px;
    width: 338px;
    height: 42px;
    margin-top:42px;
    margin-left:17px;
}
.scan-search{
    width:24.26px;
    height:19.85px;
    margin-top:53px;
    margin-left:13px;
}
.search-icon {
    position: absolute;
    left: 77.29%;
    right: 18.6%;
    top: 6.53%;
    bottom: 92.03%;
}
.search{
    width:17px;
    height:17.28px;
}
.categories{
    display:flex;
    width:395px;
    height:45px;
    margin-top:20px;
    margin-left:23px;
    justify-content: space-between;
    overflow:hidden;
}
.select{
    width: 89px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 21px;
    display:flex;
}
.category-icon{
    max-width:23px;
    max-height: 23px;
    margin-top:11px;
    margin-left:11px;
}
.category-text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    margin-left:7px;
    margin-top:16px;
    color: #000000;
}
.Pictures{
    width:381px;
    height:641px;
    margin-left:19px;
    margin-top:21px;
    display:grid;
    grid-template-columns: 186px 183px;
    grid-template-rows: 149px 158px 149px 158px;
    grid-gap:12px;
}
.picture1{
    width: 186px;
    height: 149px;
    border-radius: 19px 0px 0px 19px;
    object-fit:cover;
}
.picture2{
    width: 186px;
    height: 158px;
    border-radius: 19px 0px 0px 19px;
    object-fit:cover;
}
.picture3{
    width: 183px;
    height: 319px;
    border-radius: 0px 19px 19px 0px;
    object-fit:cover;
}
.picture4{
    width: 183px;
    height: 149px;
    border-radius: 0 19px 19px 0;
    object-fit:cover;
}
div.picture3{
    grid-row: 1 / 3;
    grid-column-start: 2;
}

